<!doctype html>
<html lang="es">
  <head>
    <title>Mi Curriculum</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/2f1bcf33e5.js" crossorigin="anonymous"></script>
</head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
      <div id="app" class="container">
        <div class="row">
          <div class="col-12 col-lg-3">
            <nav class="navbar navbar-expand-lg navbar-light" id="sideNav">  
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto flex-column text-center">
                    <div class="d-flex justify-content-center">
                      <div id="datosPersonales" v-for="dato in datos.DatosPersonales">
                        <img v-bind:src=dato.Foto class="img rounded-circle" width="140" height="140">
                        <h4>{{dato.Nombre}}</h4>
                        <b><p>{{dato.FechaNacimiento}}</p>
                        <p>{{dato.Direccion}}</p>
                        <p>{{dato.Localidad}}</p>
                        <p>{{dato.Correo}}</p>
                        <p>{{dato.Telefono}}</p>
                        <p>{{dato.Descripcion}}</p></b>
                      </div>
                    </div>
                    <li class="nav-item">
                      <a class="nav-link" href="#educacion">Educación</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#experienciaLaboral">Experiencia Laboral</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#habilidades">Habilidades</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#idiomas">Idiomas</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#proyectos">Proyectos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#referencias">Referencias</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#contacto">Contacto</a>
                    </li>
                    <div class="d-flex justify-content-center">
                      <div>
                        <img src="Imagenes/spain.png">
                        <img src="Imagenes/united-kingdom.png">
                      </div>
                    </div>
                  </ul>
              </div>
          </nav>
          </div>

          <div id="educacion" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
            <h1>Educación</h1>
            <table class="table text-center table-striped table-light">
              <thead class="thead-dark">
                <tr>
                  <th><b>Título Academico</b></th>
                  <th><b>Lugar de Realización</b></th>
                  <th><b>Inicio/Fin</b></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="dato in datos.Educacion">
                  <td>{{dato.Titulo}}</td>
                  <td>{{dato.Lugar}}</td>
                  <td>{{dato.Fecha}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-12 col-lg-9">
            <div id="experienciaLaboral" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
              <h1>Experiencia Laboral</h1>
              <div class="card-deck">
                <div v-for="dato in datos.ExperienciaLaboral" class="card">
                  <img v-bind:src=dato.Imagen class="card-img-top " alt="imagen">
                  <div class="card-body">
                    <h3>{{dato.Trabajo}}</h3>
                    <p>{{dato.Empresa}}</p>
                    <p>{{dato.Fecha}}</p>
                    <p>{{dato.Descripcion}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div id="habilidades" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
              <h1>Aptitudes y Habilidades</h1>
              <table class="table text-center table-striped table-light">
                <thead class="thead-dark">
                  <tr>
                    <th><b>Aptitud/Habilidad</b></th>
                    <th><b>Nivel</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="dato in datos.Habilidades">
                    <td>{{dato.AptitudHabilidad}}</td>
                    <td>{{dato.Nivel}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="idiomas" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
              <h1>Idiomas</h1>
              <table class="table text-center table-striped table-light">
                <thead class="thead-dark">
                  <tr>
                    <th><b>Lengua</b></th>
                    <th><b>Nivel</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="dato in datos.Idiomas">
                    <td>{{dato.nomIdioma}}</td>
                    <td>{{dato.Nivel}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div id="proyectos" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
              <h1>Proyectos Realizados</h1>
              <div class="row">
                <div v-for="dato in datos.Proyectos" class="col-12 col-lg-4">
                  <div class="card-deck">
                    <div class="card">
                      <img v-bind:src=dato.ImagenProyecto class="card-img-top " alt="Imagen Proyecto">
                      <div class="card-body">
                        <h3 class="card-title d-flex justify-content-center">{{dato.Titulo}}</h3>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted d-flex justify-content-center">
                          <a href="https://francis1641.github.io/PROYECTO-JQUERY-CSS/">Link</a>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div id="referencias" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
              <h1>Referencias</h1>
              <p>{{datos.Referencias[0].Trabajo}}</p>
              <div class="card-deck">
                <div v-for="dato in datos.Referencias" class="card">
                  <img v-bind:src=dato.Imagen2 class="card-img-top " alt="imagen">
                  <div class="card-body">
                    <h3>{{dato.Jefe}}</h3>
                    <p>{{dato.Empresa}}</p> 
                    <p>{{dato.Descripcion}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div id="contacto" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
              <h1>Contactame</h1>
              <form>
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" class="form-control" id="name" placeholder="Escribe tu nombre" required>
                  <label for="surname">Apellidos</label>
                  <input type="text" class="form-control" id="surname" placeholder="Escribe tus apellidos" required>
                  <label for="detalle">Tu propuesta</label>
                  <input type="text" class="form-control" id="detalle" placeholder="Escribe tu propuesta" required>
                </div>
                <button type="submit" class="btn">Enviar</button>
              </form>
            </div>
            <div id="redesSociales" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
              <section id="footer">
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <ul>
                    
                    <li><a href="https://github.com/francis1641"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.instagram.com/francis7_7/"><i class="fab fa-instagram"></i></a></li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
  </body>
  <script src="./js/main.js"></script>
</html>
