<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="miAplicacion">
        <input v-on:keyup.enter="anadirRecordatorio" 
        v-on:keydown="habilitarBoton" 
        v-model="nuevoRecordatorio"><br><br>
        <button v-bind:disabled="isButtomDisabled" v-on:click="anadirRecordatorio">Nuevo Recordatorio</button>

        <p>Filtrar tarea</p><input v-model="empiezaPor">
            <p>{{totalPendientes}} tareas pendientes de un total de tareas: {{totalTareas}}</p>
            <button v-on:click="quitarCompletadas">Borrar Tareas Completadas</button>
                <div v-for="(recordatorio, index) in listaRecordatorio">
                {{recordatorio.titulo}} tiene una prioridad {{recordatorio.prioridad}} y fue creado {{recordatorio.fechaCreacion}} completado {{recordatorio.completado}}
            <button v-on:click="cambiarEstadoTarea(index)">Cambiar Estado</button>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>

