body{
    background-image: url(img/fondo.jpg);

    /*background-repeat: no-repeat;
    background-size: 100% 100%;
    top:30px;*/

}

div#cabecera{
    padding-left: 20rem;
    padding-right: 20rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
div#notas{
    height: 98vh;
    width: 97vw;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    /*background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;*/
}

div#notas div{
    position: relative;
    margin: 0.6rem;
}


#asunto{
    margin-top: 0.5rem;
    resize: none;
}

#crear{
    margin-top: 0.5rem;
    margin-left: 35rem;
}