<!DOCTYPE html>
<html>
    <head>
        <title>Recordatorio</title>
        <meta charset="utf-8" lang="en">
        <style>
            .completadoClase{
               background-color: red;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <input v-on:keydown.enter="anadirRecordatorio" 
            v-on:keyup="habilitar()"
            v-model="NuevoRecordatorio">
            <button v-on:click="anadirRecordatorio"
            v-bind:disabled="estahabilitado">Nuevo Recordatorio</button>
            <p>Total tareas {{totaltareas}} y pendientes {{pendientes}}</p>
            <button v-on:click="borrarcompletadas()" >Borrar tareas completadas</button>
            <input v-on:keydown.enter="filtrar" v-model="filtro">
              <div 
              v-for="(recordatorio,index) in listaRecordatorioFiltrada"
              v-bind:key="contenido"
              v-bind:class="{completadoClase : recordatorio.completado}">
                <button v-on:click="completado(index)">completado</button>
                {{ recordatorio.titulo }} <br>la tarea esta completada?: {{recordatorio.completado}}
                  <button v-if="recordatorio.completado"
                  v-on:click="cambiarEstado(index)">Eliminar</button>
              </div>
        </div>
          
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="script.js"></script>
    </body>
</html>